/* cuprum-regular - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum Regular"), local("Cuprum-Regular"),
    url("../fonts/cuprum-v11-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/cuprum-v11-latin_cyrillic-regular.woff") format("woff");
}
/* cuprum-italic - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum Italic"), local("Cuprum-Italic"),
    url("../fonts/cuprum-v11-latin_cyrillic-italic.woff2") format("woff2"),
    url("../fonts/cuprum-v11-latin_cyrillic-italic.woff") format("woff");
}
/* cuprum-700 - latin_cyrillic */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum Bold"), local("Cuprum-Bold"),
    url("../fonts/cuprum-v11-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/cuprum-v11-latin_cyrillic-700.woff") format("woff");
}

/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
    url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff") format("woff");
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
    url("../fonts/pt-sans-v11-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/pt-sans-v11-latin_cyrillic-700.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Variables */
:root {
  --basic-red: #ee3643;
  --basic-white: #ffffff;
  --basic-sienna: #ffd180;
  --basic-sea: #32425c;
  --basic-sea-light: #f1f5f7;
  --basic-sea-dark: #293449;
  --basic-brown-light: #f9f5f0;
  --basic-yellow-1: #ffbf47;
  --basic-yellow-2: #ffc047;
  --basic-blue: #3bbce3;
  --basic-pink: #dc91d8;
  --basic-green: #63a63e;
  --basic-green-dark: #367315;
  --basic-green-light: #8ed78f;
  --basic-black: #000000;
  --basic-black-light: #444444;
  --basic-gray: #a9a9a9;
  --basic-gray-light: #eaeaea;
  --basic-gray-light-2: #c5c5c5;
  --basic-gray-light-3: #f4f4f4;
  --basic-gray-light-4: #d7dcde;
  --basic-white-transparent: rgba(255, 255, 255, 0.3);
  --basic-white-full-transparent: rgba(255, 255, 255, 0);
  --basic-black-transparent: rgba(0, 0, 0, 0.25);
  --basic-black-transparent-2: rgba(0, 0, 0, 0.3);
  --basic-black-transparent-3: rgba(0, 0, 0, 0.1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  /* хак чтобы картинки не были больше своего контейнера */
  max-width: 100%;
  /* чтобы картинки сохраняли пропорции */
  height: auto;
}

/* При нехватке контента чтоб футер прижимался */
.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.grid-wrapper {
  display: grid;
  grid-template-columns:
    60px 60px 60px 60px 60px
    60px 60px 60px 60px 60px
    60px 60px 60px 60px 60px;
  column-gap: 20px;
  padding: 0;
  margin: 0;
}

.grid-wrapper > * {
  /* outline: 1px solid red; */
}

/* Хедер */
.header {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header-top {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-sea);
  height: 42px;
}

.header-bookmarks,
.header-items,
.header-items-catalog,
.header-make-order {
  color: var(--basic-white);
}

.header-logo {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 47px;
}

.header-search {
  grid-column-start: 4;
  grid-column-end: 7;
  position: relative;
  padding-top: 9px;
  padding-left: 23px;
}

.header-search::before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: -3px;
  top: 12px;
}

.header-search > input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-search > input::placeholder {
  color: var(--basic-white);
}

.header-bookmarks {
  grid-column-start: 7;
  grid-column-end: 9;
  padding-left: 53px;
  padding-top: 9px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 30px 13px;
}

.header-items {
  grid-column-start: 9;
  grid-column-end: 11;
  padding-left: 50px;
  padding-top: 9px;
  background: url("../img/icon-cart.svg") no-repeat 26px 13px;
}

.header-items-catalog {
  grid-column-start: 9;
  grid-column-end: 11;
  margin-left: 14px;
  margin-right: -10px;
  padding-left: 36px;
  padding-top: 9px;
  background: url("../img/icon-cart.svg") no-repeat 12px 13px;
  background-color: var(--basic-red);
  height: 42px;
}

.header-make-order {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 11;
  grid-column-end: 13;
  background-color: var(--basic-green);
  box-sizing: border-box;
  margin-left: -10px;
  height: 42px;
}

.header-details {
  padding-bottom: 60px;
  background-image: url("../img/top-background.jpg");
}

.header-details-description {
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 5;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  margin-top: 43px;
  margin-bottom: 45px;
  /* outline: 1px solid var(--basic-red); */
}

.header-details-address {
  grid-column-start: 5;
  grid-column-end: 9;
  margin-top: 46px;
  margin-bottom: 45px;
  margin-right: 30px;
  /* outline: 1px solid var(--basic-red); */
}

.header-details-address .phone {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 71px;
  padding-right: 42px;
  height: 45px;
  background: url("../img/icon-phone.svg") no-repeat 40px;
  /* outline: 1px solid var(--basic-green); */
}

.header-details-address .address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-sea);
  margin: 0;
  margin-top: 3px;
  margin-left: 10px;
  /* outline: 1px solid var(--basic-green); */
}

.header-details-buttons {
  display: flex;
  justify-content: space-between;
  grid-column-start: 9;
  grid-column-end: 13;
  margin-top: 46px;
  margin-bottom: 67px;
  margin-left: 19px;
  /* outline: 1px solid var(--basic-red); */
}

.header-details-buttons .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.header-details-buttons .button-signin {
  width: 121px;
  height: 45px;
  padding-left: 45px;
  padding-right: 27px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: url("../img/icon-login.svg") no-repeat 19px 14px,
    url("../img/header-button.jpg");
}

.header-details-buttons .button-registration {
  width: 150px;
  height: 45px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: url("../img/header-button.jpg");
}

.header-person {
  display: grid;
  grid-column-start: 9;
  grid-column-end: 13;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 46px;
  margin-bottom: 45px;
  column-gap: 20px;
  row-gap: 7px;
  /* outline: 1px solid red; */
}

.header-person .person-name {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 21px;
  line-height: 21px;
  height: 45px;
  margin: 0;
  padding-left: 59px;
  padding-top: 13px;
  background: url("../img/icon-user.svg") no-repeat 16px 13px,
    url("../img/icon-login.svg") no-repeat 263px 13px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header-person .my-orders {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-sea);
  margin: 0;
  margin-left: 45px;
  /* outline: 1px solid var(--basic-green); */
}

.header-person .round {
  grid-column-start: 3;
  grid-column-end: 4;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-left: -26px;
  margin-top: 7px;
  background-color: var(--basic-sea);
}

.header-person .person-page {
  grid-column-start: 4;
  grid-column-end: 5;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-left: -88px;
  color: var(--basic-sea);
}

.header-navigation {
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 52px;
  padding-right: 47px;
  background-color: var(--basic-sea);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-item > a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

/* Index.html*/

/* Преимущества */

.advantages-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 125px 125px 125px;
  gap: 20px;
}

.advantages-list .advantages-perforators {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.advantages {
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
}

.advantages ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages .advantages-materials {
  background-color: var(--basic-yellow-1);
  background-image: url(/img/bucket-icon.svg);
  background-repeat: no-repeat;
}

.advantages .advantages-instruments {
  background-color: var(--basic-blue);
  background-image: url(/img/insrument.svg);
  background-repeat: no-repeat;
}

.advantages .advantages-techincs {
  background-color: var(--basic-pink);
  background-image: url(/img/tractor.svg);
  background-repeat: no-repeat;
}

.advantages .advantages-sale {
  background-color: var(--basic-green-light);
  background-image: url(/img/korzina.svg);
  background-repeat: no-repeat;
}

.advantages .advantages-delivery {
  background-color: var(--basic-yellow-2);
  background-image: url(/img/bus.svg);
  background-repeat: no-repeat;
}

.advantages h2 {
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.advantages a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-white-transparent);
}

.advantages p {
  padding: 0;
  margin: 0;
}

/* Перфораторы */

.advantages-perforators {
  font-family: "Cuprum", Arial, sans-serif;
  background-image: url(/img/perforators-banner.jpg);
  background-repeat: no-repeat;
}

.advantages-perforators .logo {
  color: var(--basic-white);
  background-color: var(--basic-black-transparent);
  background-repeat: no-repeat;
}

.advantages-perforators h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.advantages-perforators p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.advantages-perforators button {
  border: none;
}

.advantages-perforators a {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.advantages-perforators .arrow-left {
  width: 50px;
  height: 50px;
  background-color: var(--basic-white-full-transparent);
  background-image: url(/img/icon-left.svg);
  background-repeat: no-repeat;
}

.advantages-perforators .arrow-right {
  width: 50px;
  height: 50px;
  background-color: var(--basic-white-full-transparent);
  background-image: url(/img/icon-right.svg);
  background-repeat: no-repeat;
}

/* Популярные товары */

.popular-products .head {
  background-color: var(--basic-brown-light);
}

.popular-products h2 {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-sea);
}

.popular-products a {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popular-products ul {
  list-style: none;
}

.popular-products del {
  color: var(--basic-gray);
}

.popular-products .cost-button {
  background-image: url(/img/red-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.popular-products .new {
  width: 50px;
  height: 50px;
  background-image: url(/img/new.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.popular-products-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  column-gap: 20px;
}

/* Популярные производители */

.popular-producers .head {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-brown-light);
}

.popular-producers h2 {
  color: var(--basic-sea);
}

.popular-producers a {
  background-color: var(--basic-red);
}

.popular-producers ul {
  list-style: none;
}

.popular-producers li {
  border: 1px solid var(--basic-gray-light);
}

.popular-producers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  gap: 20px;
}

/* Сервисы */

.services {
  background-color: var(--basic-sea-light);
}

.services h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services p {
  font-size: 13px;
  line-height: 24px;
}

.services h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-sea);
  text-transform: uppercase;
}

.services ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services li {
  font-family: "Cuprum", Arial, sans-serif;
  list-style: none;
}

.services button {
  color: var(--basic-white);
  background-color: var(--basic-sea);
  border: none;
}

.services button.checked {
  color: var(--basic-sea);
  background-color: var(--basic-white);
}

.services-wrapper {
  display: flex;
}

.services-list {
  width: 300px;
}

.service-description {
  width: 620px;
}

/* Описание */

.description-section {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.description-section .description {
  width: 640px;
}

.description-section .contacts {
  width: 300px;
}

.description h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 36px;
  text-transform: uppercase;
}

.description .button-red {
  display: block;
  text-align: center;
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  width: 219px;
  height: 39px;
}

.description p {
  margin-top: 40px;
  font-size: 13px;
  line-height: 24px;
}

.description ul {
  list-style: none;
  list-style-image: url(/img/list-bullet.svg);
  font-size: 18px;
  line-height: 24px;
}

.contacts p {
  font-size: 13px;
  line-height: 24px;
}

.contacts .map {
}

.contacts a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

/* Каталог */

/* История */

.history ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.history li:nth-child(1) {
  list-style: none;
  list-style-image: none;
}

.history a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.history-wrapper {
  display: flex;
}

.history-item:not(:first-of-type) {
  background: url(/img/history-arrow.svg) no-repeat left top;
  background-position-x: 0px;
  background-position-y: 4px;
}

.history-item:nth-of-type(1) {
  padding-right: 17px;
}

.history-item:nth-of-type(2) {
  padding-left: 18px;
  padding-right: 17px;
}

.history-item:nth-of-type(3) {
  padding-left: 15px;
  padding-right: 17px;
}

.history-item:nth-of-type(4) {
  padding-left: 17px;
}

.catalog .main-header {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--basic-sea-light);
  color: var(--basic-sea);
  text-transform: uppercase;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.catalog .wrapper {
  display: flex;
}

.filter-wrapper {
  width: 220px;
}

.catalog-wrapper {
  width: 700px;
}

/* Фильтр */

.filter h2 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-brown-light);
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  padding-top: 39px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  background-color: var(--basic-brown-light);
  border-radius: 5px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-gray-light-4);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green-light);
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  background-color: #ababab;
  box-sizing: content-box;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 130px;
}

.price-controls {
  display: flex;
  align-items: center;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-brown-light);
  border: none;
}

.price-controls .line {
  height: 1px;
  width: 9px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--basic-black-light);
}

.filter ul {
  list-style: none;
}

.filter .producers-checkbox + label {
  background: url(/img/checkbox-off.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.filter .producers-checkbox:checked + label {
  background: url(/img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter .power-radio + label {
  background: url(/img/radio-on.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
}

.filter .power-radio:checked + label {
  background: url(/img/radio-off.svg);
  background-repeat: no-repeat;
}

.filter button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-gray);
}

/* Сортировка */

.sort {
  display: flex;
  background-color: var(--basic-brown-light);
}

.sort h3 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort ul {
  display: flex;
  list-style: none;
}

.sort a {
  text-transform: uppercase;
  color: var(--basic-black-transparent-2);
  border-bottom: 1px dotted var(--basic-red);
}

.sort .checked {
  color: var(--basic-red);
}

.sort button {
  border: none;
}

.sort .arrow-up {
  width: 10px;
  height: 10px;
  background-image: url(/img/icon-up-dir.svg);
}

.sort .arrow-down {
  width: 10px;
  height: 10px;
  background-image: url(/img/icon-down-dir.svg);
}

/* Продукты */

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product-item {
  width: 220px;
}

.products li {
  border: 1px solid var(--basic-gray-light);
}

.products ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.products del {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-gray);
}

.products .button-cost {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.products .button {
  color: var(--basic-white);
  background-color: var(--basic-green);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--basic-green-dark);
}

.products .button-buy {
  background-image: url(/img/korzina.svg);
  background-repeat: no-repeat;
}

.products .button-to-bookmarks {
  color: var(--basic-sea);
  background-color: var(--basic-white);
  background-image: none;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-shadow: none;
}

/* Навигация 1, 2, 3... */

.navigation-123 ul {
  display: flex;
  list-style: none;
}

.navigation-123 button {
  text-transform: uppercase;
  border: 1px solid var(--basic-gray-light);
  background-color: var(--basic-white);
  border-radius: 2px;
}

.navigation-123 .checked {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* Пара слов о перфораторах */

.few-words {
  background-color: var(--basic-sea-light);
}

.few-words h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.few-words p {
  font-size: 13px;
  line-height: 24px;
}

/* Футер */

.footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.footer-navigation {
  color: var(--basic-white);
  background-color: var(--basic-sea);
  padding-bottom: 54px;
}

.footer-logo {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 68px;
}

.footer-navigation-list {
  list-style: none;
  grid-column-start: 6;
  grid-column-end: 13;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 37px;
}

.footer-navigation-list .navigation-item {
  /* outline: 1px solid greenyellow; */
}
.footer-navigation-list .navigation-item:nth-child(1) {
  margin-left: -7px;
}
.footer-navigation-list .navigation-item:nth-child(2) {
  margin-left: 58px;
}
.footer-navigation-list .navigation-item:nth-child(3) {
  margin-left: 58px;
}
.footer-navigation-list .navigation-item:nth-child(4) {
  margin-left: 60px;
}
.footer-navigation-list .navigation-item:nth-child(5) {
  margin-left: 59px;
}

.footer-navigation-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  grid-column-start: 1;
  grid-column-end: 6;
  margin-top: 22px;
}

.navigation-special-list {
  display: flex;
  justify-content: flex-start;
  grid-column-start: 6;
  grid-column-end: 13;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 27px;
}

.navigation-special-list .navigation-item {
  /* outline: 1px solid greenyellow; */
}
.navigation-special-list .navigation-item:nth-child(1) {
  margin-left: 16px;
}
.navigation-special-list .navigation-item:nth-child(2) {
  margin-left: 58px;
}
.navigation-special-list .navigation-item:nth-child(3) {
  margin-left: 60px;
}
.navigation-special-list .navigation-item:nth-child(4) {
  margin-left: 59px;
}

.navigation-special-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-sienna);
}

.footer-contacts {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-sea-dark);
  padding-top: 36px;
  padding-bottom: 34px;
}

.footer-contacts .copyright {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 6;
}

.footer-contacts .social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column-start: 6;
  grid-column-end: 9;
}

.social-list .social-item {
  height: 44px;
}

.social-list .social-item:nth-child(1) {
  margin-left: -11px;
}
.social-list .social-item:nth-child(2) {
  margin-left: 1px;
}
.social-list .social-item:nth-child(3) {
  margin-left: 1px;
}

.footer-contacts .writeus {
  font-size: 16px;
  line-height: 18px;
  grid-column-start: 9;
  grid-column-end: 11;
  margin-left: 1px;
}

.footer-contacts .developed {
  grid-column-start: 11;
  grid-column-end: 13;
  margin-left: 29px;
}

.footer-contacts .special {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-sienna);
}

/* оформление заказа|Напишите нам */

.write-us {
  width: 620px;
  margin: 0 auto;
  background-image: url("../img/writeus.png");
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 0px 10px 5px var(--basic-black-transparent-3);
  position: absolute;
  top: 2100px;
  left: 50%;
  transform: translate(-50%);
}

.write-us form {
  background-color: var(--basic-white);
}

.write-us label {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 11px;
}

.write-us input,
.write-us textarea {
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-gray);
  border: 2px solid var(--basic-gray-light-2);
  border-radius: 2px;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}

.button-wrapper {
  padding: 37px 0;
  background-color: var(--basic-gray-light-3);
}

.write-us button {
  border: none;
}

.write-us .confirm {
  color: var(--basic-white);
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
  width: 100%;
  height: 38px;
  background-color: var(--basic-red);
}

.write-us .button-close {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url(/img/icon-close.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  right: 11px;
}

.write-us .name-email-wrapper {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-top: 39px;
}

.write-us .writeus-text {
  grid-column-start: 1;
  grid-column-end: 3;
  /* outline: 2px solid var(--basic-red); */
}

.writeus-text textarea {
  box-sizing: border-box;
  width: 100%;
  height: 114px;
}

.write-us-container {
  width: 459px;
  margin: 0 auto;
}

.notify {
  padding: 0;
  width: 620px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 700;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 0px 10px 5px var(--basic-black-transparent-3);
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--basic-white);
}

.notify p {
  font-size: 24px;
  line-height: 30px;
  background: url(/img/icon-mark.svg) no-repeat 70px 0px;
  padding-top: 50px;
  padding-left: 150px;
}

.notify .buttons-wrapper {
  padding-left: 161px;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: var(--basic-gray-light-3);
}

.notify button {
  border: none;
}

.button-confirm {
  width: 200px;
  height: 38px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.notify .button-continue {
  width: 200px;
  height: 38px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.notify .button-close {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-image: url(/img/icon-close.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
